<br>
<h2><%= link_to @project.name, @team.assignment_link %></h2>
<br> 


<div class="row">
    <div class="col-sm-12">
        <div class="well"><p><%= @project.description %></p> 
        </div>
    </div><!-- / col-sm-12 -->
</div><!-- / row -->
        <!-- / well -->  
<br>

<div class="row space-bottom-2x">
  <div class="col-sm-6">
    <h4><%= @team.name %> Group Members</h4>
      <% @students.each do |student| %>
      <div class="row">
        <div class="col-sm-12">
          <div class="well">
              <p><%= student.name %></p>  
          </div> <!-- / well -->
        </div><!-- / col-sm-12 -->
      </div><!-- / row -->
      <% end %>
    <br> 
  </div>
  <div class="col-sm-6">
    <h4> Tasks </h4>
    <% @tasks.each do |task| %>
      <div class="row">
        <div class="col-sm-12">
          <div class="well">
            <p><b>Due Date:</b> <%= task.deadline %></p>
            <p><b>Points:</b> <%= task.points %> points</p>
            <p><b>Description:</b> <%= task.description %></p>
            <br> 
          </div>   <!-- / well -->
        </div><!-- / col-sm-12 -->
      </div><!-- / row -->
    <% end %> 
  </div>
</div><!-- / row -->
<!-- / 2col text blocks -->

<h3> Submit Link to Google Assignment </h3>
  <%= form_tag "/teams/#{@team.id}/update_doc", method: :patch do %>
    <div class="form-group">
      <%= label_tag :assignment_link %>
      <%= text_field_tag :assignment_link, @team.assignment_link %>
    </div>
    <input type="submit" class="btn btn-default" value="Submit Assignment">
  <% end %>