<br>
<ul class="list-inline text-center">
  <a href="/projects"><button class="btn"><b>All Projects</b></button></a>
</ul>

<h1> <%= @team.name %></h1>
<br>

<div class="row space-bottom-2x">
  <div class="col-sm-6">
    <h3> Group Members</h3>
      <div class="row">
        <div class="col-sm-12">
          <div class="well">
            <% @students.each do |student| %>
              <p><%= student.name %></p> 
            <% end %> 
          </div> <!-- / well -->
        </div><!-- / col-sm-12 -->
      </div><!-- / row -->
    <br>  
  </div>
  <div class="col-sm-6">

  <div class= "text-center">
    <h3> Add Group Member </h3>
    <br>
    <%= form_tag "/student_teams", method: :post do %>
      <select name="student_id">
        <% @my_students.each do |student| %>
          <option value="<%= student.id %>"> <%= student.name %> </option>
        <% end %>
      </select>
      <div>
      <br>
        <input type="hidden" name="team_id" value="<%= @team_id %>">
      </div>  
      <br>
      <input type="submit" class="btn btn-default" value="Assign Student to Team">
    <% end %>
  </div>
</div><!-- / row -->
</div>

<h3 class="text-center"> Tasks </h3>
<% @tasks.each do |task| %>
  <div class="col-sm-12">
    
    <h4> <%= task.name %> </h4>
    <div class="well">
       <p>due date: <%= task.deadline %></p>
       <p>points: <%= task.points %> points</p>
       <p>description:<%= task.description %></p>
       <br> 
    </div>   <!-- / well -->
  </div><!-- / col-sm-12 -->
<% end %>  

<h3 class="text-center"> Assignment Submission </h3>

<h4 class="text-center"><%= link_to @project.name, @team.assignment_link %></h4>

  
    

    