<h1>All Tasks</h1>
<% @tasks.each do |task| %>
<h2>due: <%= task.deadline %></h2>
<h2> <%= task.points %> pts </h2>
<h2><%= task.description%></h2>
<h2> project: <%= task.project_id %></h2>
<br>
<% end %> 

<a href="/tasks/new"><button class="btn">Create a New Task</button></a>

<a href="/projects/<%= @project_id %>/tasks/new"><button class="btn">Back to Project<button></a>