<h1>All Tasks</h1>

<% @tasks.each do |task| %>
<div class="row">
            <div class="col-sm-12">
                <h4 class="sub-title">due: <%= task.deadline %></h4>
                <div class="well">
                <h4> <%= task.points %> pts </h4>
                <h4><%= task.description%></h4>
                <!-- <h4> project: <%= task.project_id %></h4> -->
                </div>
            </div><!-- / col-sm-12 -->
        </div><!-- / row -->
<br>
<% end %> 

<a href="/projects/<%= @project_id %>/tasks/new"><button class="btn">Create a New Task</button></a>

<a href="/projects/<%= @project_id %>"><button class="btn">Back to Project<button></a>