<section id="portfolio" class="info-box">
    <div class="container-fluid">
        <!-- portfolio filter -->
        <ul class="portfolio-filter list-inline text-center">
         
            <li><a href="/projects" data-group="graphic-design">Your Projects</a></li>
            <li><a href="/students" data-group="branding">Your Students</a></li>

        </ul><!--end portfolio filter -->

<h1>Add a student</h1>

<%= form_tag '/add_student', method: :post do %>
  <div>
    <select name="student_id">
      <% @students.each do |student| %>
        <option value="<%= student.id %>"><%= student.email %></option>
      <% end %>
    </select>
  </div>
  <br>
  <%= submit_tag "Add Student" %>
<% end %>

<h2>My Students</h2>

<ul>
  <% @my_students.each do |student| %>
    <li><%= student.email %></li>
  <% end %>
</ul>

    </div>
</section>