<ul class="list-inline text-center">
  <li><a href="/projects"><button class="btn"><b>Your Projects</b></button></a></li>
</ul><!--end portfolio filter -->


<h2> New Project</h2>

<%= form_tag "/projects", method: :post do %>
<div class="form-group">
Name: <input type="text" class="form-control" name="name" value="<%= @project.name %>">
</div>

<div>
Subject: <input type="text" class="form-control" name="subject" value="<%= @project.subject %>">
</div>

<div>
Description: <input type="text" class="form-control" name="description" value="<%= @project.description %>">
</div>

<div>
Image: <input type="text" class="form-control"name="image" value="<%= @project.image %>"
</div>
<br>
<input type="submit" class="btn btn-default" value="Create New Project">
<% end %>
