<h1> New Teacher Account</h1>

<%= form_tag "/teachers", method: :post do %>
<div>
First Name: <input type="text" name="first_name" value="<%= @teacher.first_name %>">
</div>

<div>
Last Name: <input type="integer" name="last_name" value="<%= @teacher.last_name %>">
</div>

<div>
email: <input type="text" name="email" value="<%= @teacher.email %>">
</div>

<div>
password: <input type="text" name="password" value="<%= @teacher.password %>">
</div>

<div>
  Confirm Password: <input type="password" name="password_confirmation">
</div>

<input type="submit" value="Create New Teacher Account">
<% end %> 


